<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lemming_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,498},{29,28}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{29,28}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,498},{29,28}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{29,28}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,586},{29,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,586},{29,26}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,586},{29,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,558},{29,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,530},{29,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,144},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,962},{19,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{19,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,964},{33,58}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,255},{37,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{37,52}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,964},{33,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,941},{19,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{19,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,964},{33,58}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,216},{37,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{37,52}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,964},{33,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,456},{19,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{19,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,289},{17,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{17,54}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,435},{19,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{19,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,414},{19,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{19,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_umbrellaFloat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,470},{40,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{40,74}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,456},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{40,74}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,414},{40,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,76}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,428},{40,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{40,74}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,941},{40,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,76}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaOpen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{37,58}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{37,58}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>Lemming_umbrellaOpen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,964},{35,58}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{35,58}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>Lemming_umbrellaOpen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,386},{40,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,76}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>Lemming_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,496},{17,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{17,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,472},{33,56}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,308},{37,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{37,50}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,414},{33,56}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,477},{17,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{17,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,962},{33,56}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,294},{39,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,335},{33,56}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>cage.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{140,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,295}}</string>
                <key>sourceSize</key>
                <string>{140,295}</string>
            </dict>
            <key>entrance.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,144},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,817},{65,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,122}}</string>
                <key>sourceSize</key>
                <string>{65,122}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{960,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,51}}</string>
                <key>sourceSize</key>
                <string>{960,51}</string>
            </dict>
            <key>floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{960,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,51}}</string>
                <key>sourceSize</key>
                <string>{960,51}</string>
            </dict>
            <key>floor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{960,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,51}}</string>
                <key>sourceSize</key>
                <string>{960,51}</string>
            </dict>
            <key>floor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,51}}</string>
                <key>sourceSize</key>
                <string>{960,51}</string>
            </dict>
            <key>platform_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,498},{437,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{437,40}}</string>
                <key>sourceSize</key>
                <string>{439,42}</string>
            </dict>
            <key>platform_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,512},{301,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,40}}</string>
                <key>sourceSize</key>
                <string>{301,40}</string>
            </dict>
            <key>platform_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,372},{175,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{175,40}}</string>
                <key>sourceSize</key>
                <string>{177,42}</string>
            </dict>
            <key>spike_platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,289},{181,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,81}}</string>
                <key>sourceSize</key>
                <string>{181,81}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,370},{101,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,14}}</string>
                <key>sourceSize</key>
                <string>{101,14}</string>
            </dict>
            <key>stamper.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,144},{143,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,237}}</string>
                <key>sourceSize</key>
                <string>{143,237}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,386},{429,37}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{429,37}}</string>
                <key>sourceSize</key>
                <string>{429,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lemming_atlas-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3379e564a21ff0663c0a1b067385a53$</string>
            <key>textureFileName</key>
            <string>Lemming_atlas-hd.png</string>
        </dict>
    </dict>
</plist>
