<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lemming_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{16,14}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,108},{16,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,26},{16,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,92},{16,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,76},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,60},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,44},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,206},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,49},{18,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,120},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,48},{18,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,48},{10,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,219},{18,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,151},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{18,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,108},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,121},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,176},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,176},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_umbrellaFloat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,26},{20,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,69},{18,30}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,68},{18,30}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,26},{21,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,38}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>Lemming_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,176},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,121},{18,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,154},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,124},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,109},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,89},{18,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,80},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,88},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>platform1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{151,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,20}}</string>
                <key>sourceSize</key>
                <string>{151,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lemming_atlas.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66c07a15eed0820d49b24769444adb86$</string>
            <key>textureFileName</key>
            <string>Lemming_atlas.png</string>
        </dict>
    </dict>
</plist>
