<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lemming_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,44},{29,28}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{29,28}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,44},{29,28}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{29,28}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,86},{29,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,86},{29,26}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,86},{29,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,102},{29,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,74},{29,26}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{29,26}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,130},{19,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{19,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,121},{33,58}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,211},{37,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{37,52}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,121},{33,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,60},{19,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{19,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,86},{33,58}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,212},{37,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{37,52}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_helmet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,86},{33,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,58}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,191},{19,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{19,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,210},{17,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{17,54}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,190},{19,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{19,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_idle_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,190},{19,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{19,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_umbrellaFloat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,44},{40,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{40,74}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,44},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{40,74}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{40,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,76}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{40,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{40,74}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaFloat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{40,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,76}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>Lemming_umbrellaOpen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{37,58}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{37,58}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>Lemming_umbrellaOpen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,439},{35,58}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{35,58}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>Lemming_umbrellaOpen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,76}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>Lemming_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,191},{17,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{17,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,156},{33,56}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,251},{37,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{37,50}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,156},{33,56}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{17,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{17,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,155},{33,56}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,229},{39,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Lemming_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,120},{33,56}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>platform1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{301,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,40}}</string>
                <key>sourceSize</key>
                <string>{301,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lemming_atlas-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:002c5e9db4536543bddf9807d1fb655f$</string>
            <key>textureFileName</key>
            <string>Lemming_atlas-hd.png</string>
        </dict>
    </dict>
</plist>
