<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>100</integer>
		<key>y</key>
		<integer>210</integer>
		<key>filename</key>
		<string>platform1</string>
	</dict>
	<key>Spikes1</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>filename</key>
		<string>Spikes</string>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>220</integer>
		<key>y</key>
		<integer>50</integer>
		<key>filename</key>
		<string>platform1</string>
	</dict>
</dict>
</plist>
