<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lemming_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,345},{16,14}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,327},{16,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,404},{16,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,309},{16,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,291},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,273},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,402},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,484},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,374},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,424},{18,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,448},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,424},{18,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,179},{10,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,463},{18,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,420},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{18,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,344},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,314},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,452},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,422},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_umbrellaFloat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,249},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,274},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,209},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,209},{20,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,211},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,179},{18,30}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,424},{18,30}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,251},{21,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,38}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>Lemming_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,344},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,209},{18,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,374},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,179},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,314},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,179},{18,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,484},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,179},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>cage.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,274},{70,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,148}}</string>
                <key>sourceSize</key>
                <string>{70,148}</string>
            </dict>
            <key>entrance.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,424},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,211},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{480,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,26}}</string>
                <key>sourceSize</key>
                <string>{480,26}</string>
            </dict>
            <key>floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{480,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,26}}</string>
                <key>sourceSize</key>
                <string>{480,26}</string>
            </dict>
            <key>floor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,26}}</string>
                <key>sourceSize</key>
                <string>{480,26}</string>
            </dict>
            <key>floor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,26}}</string>
                <key>sourceSize</key>
                <string>{480,26}</string>
            </dict>
            <key>platform1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,58},{151,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,20}}</string>
                <key>sourceSize</key>
                <string>{151,20}</string>
            </dict>
            <key>platform_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{220,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,21}}</string>
                <key>sourceSize</key>
                <string>{220,21}</string>
            </dict>
            <key>platform_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,58},{151,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,21}}</string>
                <key>sourceSize</key>
                <string>{151,21}</string>
            </dict>
            <key>platform_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,461},{89,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,21}}</string>
                <key>sourceSize</key>
                <string>{89,21}</string>
            </dict>
            <key>spike_platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{181,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,57}}</string>
                <key>sourceSize</key>
                <string>{181,57}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,211},{51,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,7}}</string>
                <key>sourceSize</key>
                <string>{51,7}</string>
            </dict>
            <key>stamper.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,58},{72,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,119}}</string>
                <key>sourceSize</key>
                <string>{72,119}</string>
            </dict>
            <key>trapdoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,211},{55,9}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,9}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,58},{219,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{219,20}}</string>
                <key>sourceSize</key>
                <string>{219,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lemming_atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfa95d26e4841c81f9b88736a2fe41bd$</string>
            <key>textureFileName</key>
            <string>Lemming_atlas.png</string>
        </dict>
    </dict>
</plist>
