<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>difficulty</key>
		<string>easy</string>
		<key>umbrellaUses</key>
		<integer>3</integer>
		<key>helmetUses</key>
		<integer>3</integer>
	</dict>
	<key>Level2</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>difficulty</key>
		<string>easy</string>
		<key>umbrellaUses</key>
		<integer>3</integer>
		<key>helmetUses</key>
		<integer>3</integer>
	</dict>
	<key>Level3</key>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>difficulty</key>
		<string>easy</string>
		<key>umbrellaUses</key>
		<integer>3</integer>
		<key>helmetUses</key>
		<integer>3</integer>
	</dict>
	<key>Level4</key>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>difficulty</key>
		<string>easy</string>
		<key>umbrellaUses</key>
		<integer>3</integer>
		<key>helmetUses</key>
		<integer>3</integer>
	</dict>
	<key>Level5</key>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>difficulty</key>
		<string>easy</string>
		<key>umbrellaUses</key>
		<integer>3</integer>
		<key>helmetUses</key>
		<integer>3</integer>
	</dict>
	<key>Level6</key>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>difficulty</key>
		<string>easy</string>
		<key>umbrellaUses</key>
		<integer>3</integer>
		<key>helmetUses</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
