<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entrance</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isCollideable</key>
		<false/>
		<key>x</key>
		<integer>240</integer>
		<key>y</key>
		<integer>310</integer>
		<key>filename</key>
		<string>entrance</string>
		<key>objectType</key>
		<string>entrance</string>
	</dict>
	<key>Level3_Platform</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>240</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>platform_large</string>
	</dict>
	<key>Level3_PlatformEnd1 </key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>123</integer>
		<key>y</key>
		<integer>265</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level3_PlatformEnd2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>357</integer>
		<key>y</key>
		<integer>265</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level2_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level2_Platform1End</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>153</integer>
		<key>y</key>
		<integer>186</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level2_Platform2End</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>327</integer>
		<key>y</key>
		<integer>186</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level2_Platform2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>409</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level1_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>240</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>platform_large</string>
	</dict>
	<key>Level1_Platform1End1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>123</integer>
		<key>y</key>
		<integer>107</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level1_Platform1End2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>357</integer>
		<key>y</key>
		<integer>107</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>FloorPiece1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>-60</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor</string>
	</dict>
	<key>FloorPiece2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>540</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor</string>
	</dict>
	<key>Water</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>water</string>
		<key>x</key>
		<integer>270</integer>
		<key>y</key>
		<integer>7</integer>
		<key>filename</key>
		<string>water</string>
	</dict>
	<key>Exit</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>exit</string>
		<key>x</key>
		<integer>40</integer>
		<key>y</key>
		<integer>50</integer>
		<key>filename</key>
		<string>exit</string>
	</dict>
</dict>
</plist>
