<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entrance</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isCollideable</key>
		<false/>
		<key>x</key>
		<integer>50</integer>
		<key>y</key>
		<integer>310</integer>
		<key>filename</key>
		<string>entrance</string>
		<key>objectType</key>
		<string>entrance</string>
	</dict>
	<key>Level3_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level3_Platform1End1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>154</integer>
		<key>y</key>
		<integer>266</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level2_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>185</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level2_Platform1End1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>101</integer>
		<key>y</key>
		<integer>185</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level2_Platform1End2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>268</integer>
		<key>y</key>
		<integer>185</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level1_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>300</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level1_Platform1End2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>383</integer>
		<key>y</key>
		<integer>106</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level1_Platform1End1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>215</integer>
		<key>y</key>
		<integer>106</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>FloorPiece2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>490</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor</string>
	</dict>
	<key>FloorPiece1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>-180</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor</string>
	</dict>
	<key>Water</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>water</string>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>7</integer>
		<key>filename</key>
		<string>water</string>
	</dict>
	<key>Exit</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>exit</string>
		<key>x</key>
		<integer>440</integer>
		<key>y</key>
		<integer>50</integer>
		<key>filename</key>
		<string>exit</string>
	</dict>
</dict>
</plist>
