<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entrance</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isCollideable</key>
		<false/>
		<key>x</key>
		<integer>35</integer>
		<key>y</key>
		<integer>310</integer>
		<key>filename</key>
		<string>entrance</string>
		<key>objectType</key>
		<string>entrance</string>
	</dict>
	<key>Level3_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>103</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>platform_large</string>
	</dict>
	<key>Level3_Platform2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>341</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level3_Trapdoor1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>239</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>trapdoor</string>
		<key>objectType</key>
		<string>trapdoor</string>
	</dict>
	<key>Level3_Stamper</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>stamper</string>
		<key>x</key>
		<integer>335</integer>
		<key>y</key>
		<integer>360</integer>
		<key>filename</key>
		<string>stamper</string>
	</dict>
	<key>Level2_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>205</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level2_Platform2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>409</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level2_Trapdoor1</key>
	<dict>
		<key>objectType</key>
		<string>trapdoor</string>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>307</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>trapdoor</string>
	</dict>
	<key>Level1_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>70</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level1_Platform2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level1_Trapdoor1</key>
	<dict>
		<key>objectType</key>
		<string>trapdoor</string>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>173</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>trapdoor</string>
	</dict>
	<key>FloorPiece1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor</string>
	</dict>
	<key>FloorPiece2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>x</key>
		<integer>560</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor</string>
	</dict>
	<key>Water</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>water</string>
		<key>x</key>
		<integer>330</integer>
		<key>y</key>
		<integer>6</integer>
		<key>filename</key>
		<string>water</string>
	</dict>
	<key>Exit</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>exit</string>
		<key>x</key>
		<integer>430</integer>
		<key>y</key>
		<integer>50</integer>
		<key>filename</key>
		<string>exit</string>
	</dict>
	<key>Level2_Platform1End</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>118</integer>
		<key>y</key>
		<integer>185</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level1_Platform2End</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>360</integer>
		<key>y</key>
		<integer>109</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
	<key>Level3_Platform2End </key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>terrainEnd</string>
		<key>x</key>
		<integer>425</integer>
		<key>y</key>
		<integer>267</integer>
		<key>filename</key>
		<string>terrainEnd</string>
	</dict>
</dict>
</plist>
