<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>210</integer>
		<key>filename</key>
		<string>platform_medium</string>
		<key>level</key>
		<integer>0</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>380</integer>
		<key>y</key>
		<integer>210</integer>
		<key>filename</key>
		<string>platform_large</string>
	</dict>
	<key>Entrance</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>isCollideable</key>
		<false/>
		<key>x</key>
		<integer>35</integer>
		<key>y</key>
		<integer>310</integer>
		<key>filename</key>
		<string>entrance</string>
	</dict>
	<key>Exit</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>exit</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>430</integer>
		<key>y</key>
		<integer>50</integer>
		<key>filename</key>
		<string>exit</string>
	</dict>
	<key>Floor</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>240</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor2</string>
	</dict>
	<key>Platform3</key>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>160</integer>
		<key>y</key>
		<integer>105</integer>
		<key>filename</key>
		<string>platform_large</string>
	</dict>
	<key>Water</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>water</string>
		<key>x</key>
		<integer>350</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>water</string>
	</dict>
	<key>Stamper</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>stamper</string>
		<key>x</key>
		<integer>380</integer>
		<key>y</key>
		<integer>330</integer>
		<key>filename</key>
		<string>stamper</string>
	</dict>
</dict>
</plist>
