<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Water</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>water</string>
		<key>x</key>
		<integer>350</integer>
		<key>y</key>
		<integer>7</integer>
		<key>filename</key>
		<string>water</string>
	</dict>
	<key>Level1_Platform1</key>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>33</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>platform_medium</string>
	</dict>
	<key>Level1_Platform2</key>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>270</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>platform_large</string>
	</dict>
	<key>Level1_Trapdoor1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>134</integer>
		<key>y</key>
		<integer>80</integer>
		<key>filename</key>
		<string>trapdoor</string>
	</dict>
	<key>Level2_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>205</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>platform_medium</string>
		<key>level</key>
		<integer>0</integer>
	</dict>
	<key>Level2_Platform2</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>409</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>platform_medium</string>
		<key>level</key>
		<integer>0</integer>
	</dict>
	<key>Level2_Trapdoor1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>307</integer>
		<key>y</key>
		<integer>160</integer>
		<key>filename</key>
		<string>trapdoor</string>
	</dict>
	<key>Level3_Platform1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>103</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>platform_large</string>
		<key>level</key>
		<integer>0</integer>
	</dict>
	<key>Level3_Platform2</key>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>375</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>platform_large</string>
	</dict>
	<key>Level3_Trapdoor1</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>239</integer>
		<key>y</key>
		<integer>240</integer>
		<key>filename</key>
		<string>trapdoor</string>
	</dict>
	<key>Floor</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>240</integer>
		<key>y</key>
		<integer>10</integer>
		<key>filename</key>
		<string>floor2</string>
	</dict>
	<key>Entrance</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>isWall</key>
		<false/>
		<key>isCollideable</key>
		<false/>
		<key>x</key>
		<integer>35</integer>
		<key>y</key>
		<integer>310</integer>
		<key>filename</key>
		<string>entrance</string>
	</dict>
	<key>Exit</key>
	<dict>
		<key>type</key>
		<string>terrain</string>
		<key>objectType</key>
		<string>exit</string>
		<key>isWall</key>
		<false/>
		<key>x</key>
		<integer>430</integer>
		<key>y</key>
		<integer>50</integer>
		<key>filename</key>
		<string>exit</string>
	</dict>
	<key>Stamper</key>
	<dict>
		<key>type</key>
		<string>obstacle</string>
		<key>objectType</key>
		<string>stamper</string>
		<key>x</key>
		<integer>380</integer>
		<key>y</key>
		<integer>360</integer>
		<key>filename</key>
		<string>stamper</string>
	</dict>
</dict>
</plist>
