<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lemming_death_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,121},{16,14}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,103},{16,14}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,67},{16,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,101},{16,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,85},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,85},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,67},{16,14}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_death_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,231},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,477},{18,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,404},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,292},{18,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,139},{10,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,272},{18,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,394},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_helmet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,291},{18,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,324},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,322},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_helmet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,292},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_idle_helmet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,261},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_umbrellaFloat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,174},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,150},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,126},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,221},{20,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaFloat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,102},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,344},{18,30}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,324},{18,30}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{18,30}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>Lemming_umbrellaOpen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,198},{21,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,38}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>Lemming_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,201},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,384},{18,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,484},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,374},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,171},{10,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,364},{18,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{20,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Lemming_walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,354},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>entrance.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,243},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,67},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,26}}</string>
                <key>sourceSize</key>
                <string>{480,26}</string>
            </dict>
            <key>platform1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,324},{151,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,20}}</string>
                <key>sourceSize</key>
                <string>{151,20}</string>
            </dict>
            <key>platform_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,102},{220,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,21}}</string>
                <key>sourceSize</key>
                <string>{220,21}</string>
            </dict>
            <key>platform_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,324},{151,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,20}}</string>
                <key>sourceSize</key>
                <string>{151,20}</string>
            </dict>
            <key>platform_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,44},{89,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,21}}</string>
                <key>sourceSize</key>
                <string>{89,21}</string>
            </dict>
            <key>spikes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lemming_atlas.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b3969dc9d7641d25510af8d454428c$</string>
            <key>textureFileName</key>
            <string>Lemming_atlas.png</string>
        </dict>
    </dict>
</plist>
